@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@100;400;500;600;700&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@100;400;500;600;700&family=Roboto:wght@100&display=swap");

/* ### Body Copy

- Font size: 18px

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 600

### Body, Call-to-actions

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700 */

* {
  box-sizing: box-sizing;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
}

.header-flex {
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  padding: 1.5rem 2rem 2rem 2rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#top-header-btn {
  background: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.desk-style-flex {
  display: flex;
  padding-top: 2rem;
}

.desk-h1-p {
  align-self: center;
  padding-right: 3rem;
}
.mockup {
  /* margin: 5rem 2rem 2rem 2rem; */
  width: 50%;
}

.h1-style {
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  font-size: 3rem;
}

.p-header {
  padding-top: 1rem;
  font-weight: 400;
}

#bottom-header-btn {
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  color: white;
  margin-top: 1rem;
}

.main-flex {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.card1 {
  display: flex;
  flex-direction: row;
  margin: 5rem 3rem 0 3rem;
  /* text-align: center; */
  border-radius: 10px;
  background-color: white;
  padding-left: 5rem;
}

.card1 .card-img {
  width: 23rem;
  padding: 2.5rem 1rem;
  order: 2;
}

.card1-desk-h3-p {
  align-self: center;

  /* padding-right: 10rem; */
}

.card1 .card-p {
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-right: 15rem;
  opacity: 0.4;
}

.card1 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.card2 {
  display: flex;
  flex-direction: row;
  margin: 2rem 3rem 0 3rem;
  /* text-align: center; */
  border-radius: 10px;
  background-color: white;
  padding-left: 5rem;
}

.card2 .card-img {
  width: 23rem;
  padding: 2.5rem 1rem;
  /* order: 2; */
}

.card2-desk-h3-p {
  align-self: center;
  padding-left: 9rem;
  /* padding-right: 10rem; */
}

.card2 .card-p {
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-right: 5.5rem;
  opacity: 0.4;
}

.card2 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.card3 {
  display: flex;
  flex-direction: row;
  margin: 2rem 3rem 5rem 3rem;
  /* text-align: center; */
  border-radius: 10px;
  background-color: white;
  padding-left: 5rem;
}

.card3 .card-img {
  width: 23rem;
  padding: 2.5rem 1rem;
  order: 2;
}

.card3-desk-h3-p {
  align-self: center;
  /* padding-right: 10rem; */
}

.card3 .card-p {
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-right: 15rem;
  opacity: 0.4;
}

.card3 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.div-overlay {
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 2rem 1rem;
  width: 50%;
  margin: 3rem auto -50px auto;
}

.div-overlay h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: x-large;
  padding: 0 0 1rem 0;
}

.div-overlay button {
  padding: 1.2rem 5rem;
  border: none;
  border-radius: 30px;
  background-color: hsl(322, 100%, 66%);
  color: white;
}

footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-left: 5rem;
}

.footer-logo {
  width: 20%;
  filter: invert(1);
  padding-bottom: 2rem;
}


.footer-div-flex {
  display: flex;

}

.desk-footer-l-p-e {
  flex-grow: 1;
  flex-basis: 100%;
}
.desk-social-copy {
  
  flex-grow: 1;
  flex-basis: 100%;
}

#location-p {
  display: flex;
  flex-direction: row; 
  padding-bottom: 1rem;
  /* width: 45%; */
}
#location-p .location-img {
  align-self: flex-start;
}

#location-p span {
  color: white;
  padding-left: 1rem;
}

.telephone-p {
  padding-bottom: 1rem;
}
.telephone-p span {
  color: white;
  padding-left: 0.5rem;
}
#email-p {
  /* padding-top: 1rem; */
}
#email-p span {
  color: white;
  padding-left: 0.5rem;
  font-weight: 400;
}

.footer-ul {
  /* list-style: none;
  padding-top: 2rem; */

  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer-ul li {
  /* line-height: 2; */
  margin-bottom: 1rem;
  /* list-style: none; */
}

.footer-ul a {
  text-decoration: none;
  color: white;
}

.social {
  /* padding-top: 2rem; */
  /* text-align: center; */
  display: flex;
  /* justify-content: center; */
}

.social .fa-brands {
  margin: 5px;
  color: white;
  border: solid 1px white;
  padding: 0.5rem;
  border-radius: 50%;
}

.copyright {
  /* margin-top: 1rem;
  margin-bottom: 3rem; */
  align-self:flex-end;
  width: 33.33%;
  
}
.copyright p {
  color: white;
  font-size: small;
  padding: 3rem 0;
}
